@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Layout styles */
.about-page {
  background-color: orangered;

  padding: 5vw 15vw;
}

.container1 {
box-sizing: border-box;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction:column;
  justify-content: center;
 padding: 20px;  /* Add padding to ensure content doesn't touch the edges */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.flex-container{
  margin:20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.about-btn {

  border: 2px solid rgb(255, 114, 63);
  background-color: rgb(255, 114, 63);
  font-family: "Open Sans", sans-serif;
  text-align: center;
  
 
}

.about-image {
  height: 30vh;
  width: 30vh;

}

.about-head {

display: flex;
flex-direction: column;
justify-content: center;
row-gap: 4px;
  width:50%; 
  font-size:25px;
  
  font-family: "Open Sans", sans-serif;
  text-align: center;
 
  box-sizing: border-box; 
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  background-color: #f6f9fc;
  color: black;
  padding: 10px;
  margin: 10px;
  flex: 1;
  border-radius: 20px;
}

.box:hover {
  border: 2px solid orangered;
}

.subhead1 {
  font-size: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px;
}

.paraabout {
  font-size: 15px;
  font-family: "Chocolate Classical Sans", sans-serif;
  font-weight: 400;
  padding: 20px;
}
