@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Product Fonts */
/* sub heading font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* heading font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* navbar */
.bg-navbar{
  border: 9px solid orangered;
background-color: orangered !important;
}
.headstyle{
  font-size:20px;
}

/* Home */
.home-bg{
  display:flex;
  flex-direction: column;
  background-image: url('https://media.istockphoto.com/id/1158623408/photo/indian-hindu-veg-thali-food-platter-selective-focus.jpg?s=612x612&w=0&k=20&c=MOm3sfIfL22URV6juSCxpA3yfr4O63yJUV5vitufR7Y=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x:center;
  height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0.8;
 
}
@media screen and (max_width:749px) {
 .home-bg{ background-size: contain;
}
  
}







.home-heading{
  color:orangered;
  text-shadow: 2px 2px white;
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

 
}
.btn{
  border:2px solid orangered;
  background-color: orangered;
  
  /* align-self: flex-start; */

}
.imagehome{
  float:right;
  height: 200px;
  width:200px;

}
/* product */
.product-img{
  display: block;
  padding: 10px 0px;
  height:300px;
  width: 400px;
margin: 0 auto;
}
.product-heading{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.putinplate{
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-delay: 0.1ms;
}

@keyframes example{
  0%   {top: 0px;}
  100% {top: 210px;}
}
.container2{
  position: relative;
  animation-name: example1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.1ms;
}
@keyframes example1{
  0%   {top: 0px;}
  100% {top: -50px;}
}
.product-container{
  display:flex;
  justify-content: space-evenly;
  gap:10px 15px;
  flex-wrap: wrap;
}
.subheading{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
 font-size: 30px;
  font-variation-settings:
    "wdth" 50;
}
.heading{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
}